
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
li{
    list-style: none;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}



header p{
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    color:#ffffff;    
}

#playlists h3,#curated h3{
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16pt;
    color: #ffffff;    
}

#playlists p,#curated h3{
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    color: #ffffff;         
}

#trending{
    background-color: #ffffff;
}

#trending h3{
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:16pt;
    color: #590242; 
}

.scroll{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll section{
    margin: 10px;
    position: relative;
}

.scroll div{
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}

h1{
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: #ffffff;
    line-height: 2em;
}

h1,h2,h3{
    font-weight: bold;
    text-transform: uppercase;
}

h2{
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20pt;
    color: #590242;   
}

dd{
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    color: #590242;    
}

dl{
    display: flex;
}

dt{
    font-family: raleway, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16pt;
    color: #590242;    
    padding-right: 5px;
}

audio{
    position: absolute;
    bottom: 150px;
    left: 5px;
}

footer{
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10pt;
    color: #590242;
    text-align: center;
}

.more{
    text-decoration: none;
    background-color: #590242;
    color: #ffffff;
    border-radius: 10px;
    width: 150px;
    display: block;
    text-align: center;
    margin: 10px 0 30px 32px;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14pt;    
}

.more:hover{
    background-color: #020659;
}

audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50%;  
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255,255,255,.5);
}

#trending ::-webkit-scrollbar {
    width: 15px;
}
#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}
#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;
}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
html{
    background-color: #020659;
}
body{
    margin:  0 auto;
    font-family: raleway;
}
nav  a:hover{
    background-color: #590242;
}


section[id="playlists"] div[class="scroll"]{
    background-color:#0D8DFB;
}

section[id="curated"] div[class="scroll"]{
    background-color: #030A8C;
}

#playlists~img, #curated~img{
    border-radius: 15px;
}

.smooth{
   
}

.bgblock{
    padding-left: 50px;
    padding-right: 50px;
    background-color: #020659;}

@media screen and (min-width: 375px){

    #wrapper{
        width: 375px;
        background-color: #ffffff;
        margin: 0 auto;
    }

    section[id="playlists"] div[class="scroll"]{
        display: flex;
        flex-direction: column;
    }  
    
    section[id="curated"] div[class="scroll"]{
        display: flex;
        flex-direction: column;
    } 
    
    .miniGrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }    

}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }

    #wrapper{
        width: 834px;
        background-color: #ffffff;
        margin: 0 auto;
    }

    section[id="playlists"] div[class="scroll"]{
        display: flex;
        flex-direction: row;
        
    }
    
    section[id="curated"] div[class="scroll"]{
        display: flex;
        flex-direction: row;
        
    }
    
    .miniGrid{
        display: grid;
        grid-template:
            "a b" 75px
            "a c" 75px / 1fr 1fr;
    }     

}

